<!DOCTYPE html>
<html>
<html lang="en">
    <head>
	<title>Digital Archive Dead Simple Interface</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    <body>
	<nav class="navbar navbar-inverse">
	    <div class="container-fluid">
		<div class="navbar-header">
		    <a class="navbar-brand" href="/">Digital Archive</a>
		</div>
		<ul class="nav navbar-nav">
		    <li><a href="/records/">Records</a></li>
		</ul>
		<ul class="nav navbar-nav">
		    <li><a href="/accessions/">Accessions</a></li>
		</ul>
		<ul class="nav navbar-nav navbar-right">
		    <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
		</ul>
	    </div>
	</nav>
	<div class="container">
	    {% block content %}{% endblock %}
	</div>
        <br/>
    </body>
</html>
