{% extends "base.html" %}
{% block content %}
<h1>Collection Records <a href="./mint_collectionrec" class="btn btn-primary">New Collection Record</a></h1>
<br/>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Identifier</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for x in coll_list %}
        <tr>
            <td>{{x.name}}</td>
            <td>{{x.identifier}}</td>
            <td><a href="./{{x.identifier}}/">View</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
