{% extends "base.html" %}
{% block content %}
<h1>{{coll_name}} <a href="./editName" class="btn btn-xs">Edit</a></h1>
<h2>{{coll_identifier}}</h2>
<h2>Collection Record Note <a href="./editNote" class="btn btn-xs">Edit</a></h2>
<blockquote class="blockquote">
    <p class="mb-0">{{coll_note}}</p>
</blockquote>    
<h1>Accession Records <a href="./mint_accessionrec" class="btn btn-primary">New Accession Record</a></h1>
<br/>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Identifier</th>
            <th>External Ids</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for x in accrec_list %}
        <tr>
            <td>{{x.identifier}}</td>
            <td>{{x.external_ids}}</td>
            <td><a href="./{{x.identifier}}/">View</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
